body {
    background: #0007C9;
    font-family: Consolas, 'Fira Code', monospace;
    color: #fff;
}

.theme-button {
    margin: 24px 10px;
    border-radius: 4px;
    background: #0007C9;
    color: #fff;
    border: 1px solid #fff;
    padding: 5px 10px;
    width: 150px;
}

.theme-button:hover {
    background-color: #fff;
    color: #0007C9;
}

hr {
    border: 2px solid #fff;
}

.card {
    background: none;
    max-width: 18rem;
    border: 2px solid #fff;
}

.card-header {
    border-bottom: 2px solid #fff;
}

li {
    list-style: none;
}