:root {
    --first-background-color: #0007C9;
    --first-text-color: #fff;
    --first-shadow: 1px 1px 2px #fff, 0 0 0.1rem #fff, 0 0 0.1rem #fff;
    --border-btn: 1px solid #fff;
    --border: 2px solid #fff;
    
    --second-background-color: #fff;
    --second-text-color: #0007C9;
    --second-shadow: 1px 1px 2px  #0007C9, 0 0 0.1rem  #0007C9, 0 0 0.1rem  #0007C9;
}

body {
    background: var(--first-background-color);
    font-family: Consolas, 'Fira Code', monospace;
    color: var(--first-text-color);
    text-shadow: var(--first-shadow);
}

.theme-button {
    margin: 24px 10px;
    border-radius: 4px;
    background: var(--first-background-color);
    color: var(--first-text-color);
    text-shadow: var(--first-shadow);
    border: var(--border-btn);
    box-shadow: var(--first-shadow);
    padding: 5px 10px;
    width: 150px;
}

.theme-button:hover {
    background-color: var(--second-background-color);
    color: var(--second-text-color);
    text-shadow: var(--second-shadow);
}

.container-fluid {
    padding: 0 50px 0 50px;
}

.row {
    align-items: center;
}

.main-col {
    margin: 0 auto;
    padding: 10px;
}

.card {
    background: none;
    max-width: 30rem;
    border: var(--border);
    box-shadow: var(--first-shadow);
    margin: 50px auto;
}

.card-header {
    border-bottom: var(--border);
    box-shadow: var(--first-shadow);
}

ul, 
li {
    list-style: none;
    padding-left: 0;
    line-height: 2;
    font-size: 26px;
}

.card-header {
    font-size: 18px;
}

p {
    font-size: 26px;
    margin-bottom: 5px;
}

.unit-button {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}

.change-button {
    background-color: var(--first-background-color);
    color: var(--first-text-color);
    text-shadow: var(--first-shadow);
    border: var(--border-btn);
    box-shadow: var(--first-shadow);
    border-radius: 4px;
    padding: 10px 16px;
    font-size: 20px;
}

.change-button:hover {
    background-color: var(--second-background-color);
    color: var(--second-text-color);
    text-shadow: var(--second-shadow);
}

.temp-card{
    text-align: center;
}

.temp-card p {
    padding-bottom: 40px;
    margin: 0;
}

.temp-card p span {
   font-size: 120px;
}

.card .description {
    padding: 20px;
    font-size: 35px;
    text-transform: lowercase;
}

/*Search*/
.search-city {
    width: 500px;
    margin: 0 auto;
    height: 40px;
    position: relative;
}

#search-btn {
    height: 40px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    width: 80px;
    background: transparent;
    cursor: pointer;
    left: 0;
    color: var(--first-text-color);
    text-shadow: var(--first-shadow);
    border: var(--border-btn);
    box-shadow: var(--first-shadow);
}

#search-btn:hover {
    background-color: var(--second-background-color);
    color: var(--second-text-color);
    text-shadow: var(--second-shadow);
}

#city-input {
    height: 35px;
    background: transparent;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 18px;
    padding-left: 80px;
    color: var(--first-text-color);
    border: var(--border-btn);
    box-shadow: var(--first-shadow);
}

#city-input:focus {
    background-color: transparent;
    border: 0;
}

#info {
    font-size: 12px;
    text-align: center;
    margin: 20px auto;
}

#info-link {
    color: var(--first-text-color);
}

#info-link:hover {
    color: var(--second-text-color);
}
